@import url("https://fonts.googleapis.com/css?family=Muli:wght@400;700&display=swap");

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --button-color: #b6843f;
  --bg-color: #fee7b3;
  --star-color: #ffa200;

  --error-color: red;
  --gray-color: #e0e0e0;
}

html,
body {
  font-size: 16px;
  font-family: "Muli", sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
  min-height: 100%;
  background-color: var(--bg-color);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

header {
  position: fixed;
  top: 80px;
}

footer {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
}

button {
  cursor: pointer;
}

input:focus {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

#app {
  max-width: 1024px;
}

/*공통 버튼 스타일*/
.common-button {
  background-color: var(--button-color);
  padding: 10px 20px;
  color: #fff;
  border-radius: 10px;
  border: none;

  font-size: 20px;
  font-weight: 600;
}
