/* list */
#contents {
  width: 1024px;
  height: 500px;
  position: relative;
}

/*필터,등록 버튼 컨테이너*/
.active-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px auto;
}

/*등록버튼*/
.common-button.registButton {
  padding: 12px;
  background-color: var(--star-color);
}

/*필터리스트(전체보기,중요,미완료,완료)*/
.filter-list {
  width: 600px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

/*전체 리스트 컨테이너*/
.todo-container {
  width: 1024px;
  min-height: 315px;
  background-color: #fff;
  border-radius: 10px;
  padding: 32px;
  font-weight: bold;
}

/* 전체완료, 전체삭제 버튼 담긴 컨테이너*/
.todo-container__controller {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

/*컨트롤러 버튼*/
.todo-container__controller button {
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/*전체 리스트 박스(중요 ul,일반 ul)*/
.todo-list-all {
  max-height: 436px;
  overflow-y: scroll;
}

/*---------------------------------------------------------------*/

/*리스트 항목 없을때 적용 스타일 - HandleDataFilter.js*/
.todo-list-empty {
  text-align: center;
  padding: 5px 0;
}
/*리스트 항목 없을때 적용 스타일 - HandleDataFilter.js*/
.important-list {
  display: block;
  border-bottom: 2px solid #000;
}
